.test {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    }

html,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.nav-container {
    width: 100vw;
    height: 6vh;
    position: fixed;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b8e3ed;
    color: #000000;
    z-index: 2;
}

.nav-logo {
    position: relative;
    height: 6vh;
}

.menu-content ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin-right: 30px;
    white-space: nowrap;
}

.menu-content ul a {
    text-decoration: none;
    color: #000000;
    font-size: min(24px,32px);
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}




/* home screen 3 x 3 grid layout */

.home-grid-layout {
    padding-top: 6vh;
    height: 94vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    position:sticky;
}

.home-grid-layout div {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.home-grid-layout img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 31.3vh;
    background-color: #99cedb;
}

.home-grid-layout .middle-image {
    height: 100%;
    width: auto;
}

/* products screen 2 x 3 grid layout */
.product-articles {
    padding-top: 2vh;
    width: 15vw;
    text-align: justify;
    word-wrap: break-word;
    font-size: 18px;
}

.section-title, .section-title-stockists, .section-title-contact {
    color: #ffffff;
    text-align: center;
    padding-top: 2vh;

}

.section-title-story, .section-title-stockists, .section-title-contact  {
    color: #ffffff;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

.products-grid-layout {
    padding-top: 2vh;
    height: 98vh;
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    position:sticky;

}

.products-grid-layout div {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border: solid 1.5px #ffffff;
    
}

.products-grid-layout img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 31.3vh;
    background-color: #99cedb;
    border-radius: 25px;
    border: solid 3px #ffffff;
    box-shadow: 0px 3px 3px 3px #000000;
}

.products-grid-layout .middle-image {
    
    height: 100%;
    width: auto;
}

.img-10 {
    /* Winter Cherry */
    background-color: #f17273;
}

.img-11 {
    background-color: #f1a470;
}

.img-12 {
    background-color: #f1c471;
}

.img-13 {
    background-color: #c7dfbd;
}

.img-14 {
    background-color: #bfd8dd;
}

.img-15 {
    background-color: #707070;
}


#ourstory {
    width: 100vw;
    height: 100vh;
    background-color: #bfd8dd;
    
}

#stockists {
    width: 100vw;
    height: 100vh;
    background-color: #bfd8dd;
}

.spacer {
    width: 100%;
    height: 6vh;
    color: #ffffff;
}

#contact {
    width: 100vw;
    height: 100vh;
    background-color: #bfd8dd;
}


#ourstory {
    display: flex;
    width: 100%;
    height: 100%;
}

#ourstory section {
    display: block;
    text-align: justify;
    width: 100%;
    height: 100%;    
}

#ourstory section article {
    padding: 10vh 30vh 0vh 30vh;
}

#ourstory section article p {
    font-size: 1.8vw;
    padding: 15px;
    border: #ffffff 3px solid;
    box-shadow: 0px 3px 3px 3px #000000;
    border-radius: 25px;
    background-color: #9db8c0;
    color: #393737;
}


/* STOCKISTS - SETTINGS*/

.stockists {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align:center;
}


.stockists-container {
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    padding: 5vh 6vw 6vw 6vw;

}

.stockists-details {
    display: block;
    padding-top: 40px;
    border: #ffffff 3px solid;
    box-shadow: 0px 3px 3px 3px #000000;
    background-color: #9db8c0;
    height: 20vh;
    margin: 50px;
    border-radius: 25px;
    justify-content: center;

}

.stockists-details address {
    padding-top: 2vh;
    text-align:center;
    width: 90%;
}

.stockists-details a {
    text-transform: capitalize;
}

.stockists-details h2 a{
    text-decoration: none;
    text-align: center;
    font-size: 1vw;
    color:#ffffff;
    padding-left: 20px;

}

.stockists-details a{
    text-decoration: none;
    font-size: 1vw;
    color: #000000;

}

.stockists-details h3{
    text-decoration: none;
    font-size: 1vw;
    color: #000000;
    padding-left: 30px;

}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}






/* Mobile screen 360px x 640px */
@media screen and (max-width: 640px) {
    .nav-logo {
        position: relative;
        height: 6vh;
    }
    .menubtn {
        padding: 18px;
        font-size: 24px;
        border: none;
        margin-right: 18px;
        background-color: #3e8e41;
        color: white;

    }
      
    .menu {
        position: relative;
        display: inline-block;
    }
      
    .menu-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        width: 100vw;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #00000033;
        z-index: 1;
        font-size: 20px;


    }

    .menu-content ul {
        list-style: none;
        display: block;

    }
      
    .menu-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .menu-content a:hover {
        background-color: #f1f1f1;

    }

    .menu:hover .menu-content {
        display: block;

    }

    .menu:hover .menubtn {
        background-color: #3e8e41;

    }
















    
}

/* Tablet screen 1024px x 768px */
@media screen and (min-width: 640px) and (max-width: 768px) {
    .menubtn {
        display: none;
    }
}

/* Desktop screen 1366px x 768px */
@media screen and (min-width: 768px){
    .menubtn {
        display: none;
    }

}